<li class="span4 customer">
  <div class="thumbnail">
    <div class="pic">
      <a href="#">
        <img class="pic" src="img/company.jpg" alt="">
      </a>
    </div>
    <h3><%= customer.name %></h3>
    <table>
      <tr>
        <td colspan="2"><%= customer.street %></td>
      </tr>
      <tr>
        <td><%= customer.zip %></td>
        <td><%= customer.city %></td>
      </tr>
    </table>
  </div>
</li>