<div class="row">
  <div class="span12">
    <ul class="thumbnails">

        <% @customers.each do |customer| %>
          <li class="span4 customer">
             <%= render :partial => 'customers/customer_in_list', :object => customer, :as => :customer %>
          </li>
        <% end %>

    </ul>
  </div>
</div>