<div class="row">
  <div class="span12">
    <ul class="thumbnails">

        <% @customers.each do |customer| %>
            <%= render :partial => 'customers/customer_in_list', :object => customer, :as => :customer %>
        <% end %>

    </ul>
  </div>
</div>