<div id="map-tools">
  <div id="tools-app">
    <div class="btn-group btn-group-vertical" data-toggle="buttons-checkbox" ng-controller="ToolsCtrl">
      <button ng-repeat="tool in tools" type="button" class="btn btn-primary {{tool.active}}" ng-click="toolPicked()">
        <i class="{{tool.icon}} icon-white" title="{{tool.label}}"></i>
      </button>
    </div>
  </div>
  <div id="layers-app" class="accordion" ng-controller="LayerListCtrl" ng-init="init()">
    <div class="accordion-group">
      <div class="accordion-heading">
        <a class="accordion-toggle" data-toggle="collapse" data-parent="layer-app" href="#base-layers">
          Base-Layers
        </a>
      </div>
      <div id="base-layers" class="accordion-body collapse in">
        <div class="accordion-inner">
          <div ng-repeat="layer in layers | filter:filterBase">
            <div class="base-layer switch-mini" data-on="success" data-off="danger" add-bootstrap-radio-switches>
              <input id="{{layer.id}}" type="radio" name="base-layer" value="{{layer.key}}">
            </div>{{layer.label}}<br>
          </div>
        </div>
      </div>
    </div>
    <div class="accordion-group">
      <div class="accordion-heading">
        <a class="accordion-toggle" data-toggle="collapse" data-parent="layer-app" href="#wfs-layers">
          Vektor Layer
        </a>
      </div>
      <div id="wfs-layers" class="accordion-body collapse in">
        <div class="accordion-inner">
          <div ng-repeat="layer in layers | filter:filterWFS">
            <div class="wfs-layer switch-mini" data-on="success" data-off="danger" add-bootstrap-checkbox-switches>
              <input id="{{layer.id}}" type="checkbox" name="wfs-layer" value="{{layer.key}}">
            </div>{{layer.label}}<br>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="map-app" ng-controller="CesiumMapCtrl" ng-init="init()">
</div>


<!--

<div id="cesiumContainer">
<input type="button" id="vienna" value="Show Vienna">
<input type="button" id="museum" value="Museen">
<input type="button" id="draw_extent" value="Draw extent">
<ul id="layertree">
  <li>Item0
    <ul>
      <li data-map-actions="0,1">Item01</li>
      <li data-map-actions="0,2">Item02</li>
      <li data-map-actions="0">Item03
        <ul>
          <li>Item030</li>
          <li>Item031</li>
        </ul>
      </li>
    </ul>
  </li>
  <li>Item1
    <ul>
      <li>Item10</li>
      <li data-map-layer="false">Item11</li>
      <li>Item12
        <ul>
          <li>Item120</li>
          <li>Item121</li>
        </ul>
      </li>
    </ul>
  </li>
</ul>
</div>
-->
<!-- http://data.wien.gv.at/daten/geoserver/ows?service=WFS&request=GetFeature&version=1.1.0&typeName=ogdwien:BAUBLOCKOGD&srsName=EPSG:4326&outputFormat=json -->
<!-- http://data.wien.gv.at/daten/wfs?service=WFS&request=GetFeature&version=1.1.0&typeName=ogdwien:MUSEUMOGD&srsName=EPSG:4326&outputFormat=json -->