<div class="container-fluid">
  <div class="row-fluid">
    <div class="span5">
        <%= render 'form' %>
    </div>
    <div class="span4">
        <%= render :partial => 'company_avatars/form', :locals => { :company_avatar => CompanyAvatar.new } %>
    </div>
  </div>
</div>

<%= link_to 'Back', customers_path %>
