<div class="tabbable">
  <!-- link list -->
  <div class="link-list">
    <%= link_to raw('<i class="icon-step-backward"></i>&nbsp;Back'), customers_path, :class => 'btn' %>
  </div>
  <ul class="nav nav-tabs">
    <li class="active">
      <a href="#tab1" data-toggle="tab">Customer</a>
    </li>
    <li>
      <a href="#tab2" data-toggle="tab">Avatar</a>
    </li>
  </ul>
  <div class="tab-content">
    <div class="tab-pane active" id="tab1">
      <!-- customer data -->
      <%= render 'form' %>
    </div>
    <div class="tab-pane" id="tab2">
      <!-- company avatar -->
      <%= render :partial => 'company_avatars/form', :locals => {:company_avatar => CompanyAvatar.new } %>
    </div>
  </div>
</div>
