<% unless contacts.nil? %>
    <table class="contacts">
        <% contacts.each do |c| %>
            <%= render :partial => 'contacts/contact', :locals => {:contact => c} %>
        <% end %>
    </table>
<%end%>