// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#myCarousel {
  height: 50%;
  min-height: 500px;
}

.carousel-inner {

  .item {
    div {
      float: left;
      display: inline-block;

      img {
        width: 80%;
      }
    }

    div:first-child {
      width: 40%;
      margin-left: 4%;
    }

    div:last-child {
      width: 55%;
    }
  }
}
