@import "common";

.right.map-bubble {
  @include vendor-prefix('border-top-left-radius', '0px');
  margin-left: 0px !important;

  .popover-title {
    @include vendor-prefix('border-top-left-radius', '0px 5px 0px 0px');
  }
}

.left.map-bubble {
  @include vendor-prefix('border-top-right-radius', '0px');
  margin-right: 0px !important;

  .popover-title {
    @include vendor-prefix('border-top-right-radius', '0px 0px 0px 5px');
  }
}

.olPopup {
  background-color: transparent !important;
}

.olPopup > div {
  background-color: transparent;

  .olPopupContent {
    background-color: transparent;
  }
}

.map-bubble-root {
  position: relative;
  width: 100%;
  min-width: 200px;
  height: 100%;
}